/.vendor
/.idea
Homestead.json
Homestead.yaml
.vendor/
.env
.git/
.idea/
tests/
/.storage/
/.storage/logs/
/.storage/framework/
/.storage/app/
/.storage/Export/
/.storage/customer/
/.storage/ExportSaleProduct/
composer.lock
/.public/uploads/
nohup.out
db
/public/prescriptionsPDF/

storage/logs/
/public/uploadsTestResult/
/public/prescriptionsPDF/
/db/
/vendor/
/docker/config/app.conf
/docker-compose
/docker-compose.yml
/docker/Dockerfile
/public/uploads/
/public/prescriptionsPDF/
/public/uploads/
/public/uploadsTestResult/
/public/cache/
vendor/
.history/
/.history/
/storage/
/.vs/
.vs
.vscode
/.vs/
/.vscode/
/.autogit/
/storage/public/
/storage/framework/
/storage/Export/
